
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.error-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.error-popup p {
    color: #ff0000;
    margin-bottom: 10px;
}

.error-popup button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
}

.error-popup button:hover {
    background-color: #45a049;
}

.success-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.success-popup p {
    color: #00aa00;
    margin-bottom: 10px;
}

.success-popup button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
}

.success-popup button:hover {
    background-color: #45a049;
}
